#info-and-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

#player {
    border: 1px solid var(--vscode-foreground);
    padding: 0.5em;
}

#listen-button {
    display: none;
    height: 60px;
    margin: 1em auto;
}

table {
    width: 100%;
    padding: 0.5em;
    border-collapse: collapse;
}

th, td {
    border: solid 1px var(--vscode-foreground);
    padding: 0.5em;
}

input[type="range"] {
    padding: 0;
}

input[type="number"] {
    border: solid 1px var(--vscode-foreground);
    width: auto;
    display: inline-block;
    margin: 0.5em;
}

select {
    margin: 0.5em;
}

.seek-bar-box {
    position: relative;
    width: 100%;
}

.input-seek-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.seek-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    margin: 0;
    padding: 0;

    border-right: 3px solid var(--vscode-button-background);
}

#analyzer {
    padding: 0.5em;
    border: 1px solid var(--vscode-foreground);
}

#analyze-controller-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

#analyze-setting {
    display: none;
}

#analyze-setting-button {
    display: none;
    background: none;
    color: var(--vscode-foreground);
}

#analyze-button {
    display: none;
}

#analyze-result-box {
    position: relative;
}

.canvas-box {
    position: relative;
    padding: 0;
}

canvas {
    width: 100%;
    border: 1px solid var(--vscode-foreground);
}

canvas.axis-canvas {
    position: absolute;
    top: 0;
    left: 0;
}