.canvasBox {
  position: relative;
  padding: 0;
}

.mainCanvas {
  width: 100%;
  border: 1px solid var(--vscode-foreground);
}

.axisCanvas {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
