table {
    width: 60%;
    margin: 1em;
    padding: 0.5em;
    border-collapse: collapse;
    max-width: 500px;
}

th, td {
    padding: 0.5em;
}

button {
    display: block;
    width: 60%;
    max-width: 500px;
    margin: 1em;
}

input[type="range"] {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.seek-bar-box {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#user-input-seek-bar {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#listen-button, #show-waveform-button, #show-spectrogram-button {
    display: none;
}

canvas {
    max-width: 100%;
    border: 1px solid gray;
}

/* light theme color */
th, td {
    border: solid 1px black;
}

th {
    background-color: black;
    color: white;
}

/* dark theme color */
body.vscode-dark th, body.vscode-dark td {
    border: solid 1px lightgray;
}

body.vscode-dark th {
    background-color: darkgray;
    color: black;
}

/* high contrast theme color */
body.vscode-high-contrast th, body.vscode-high-contrast td {
    border: solid 1px white;
}

body.vscode-high-contrast th {
    background-color: white;
    color: black;
}

body.vscode-high-contrast button {
    background-color: white;
    color: black;
}