#info-and-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info-and-control > div {
    margin: 0.5em;
}

table {
    padding: 0.5em;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
}

button {
    display: block;
    margin: 0.5em;
}

input[type="range"] {
    display: none;
}

#message {
    color: red;
}

.seek-bar-box {
    position: relative;
    width: 100%;
}

.input-seek-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.seek-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    margin: 0;
    padding: 0;

    border-right: 3px solid yellow;
}

#listen-button, #analyze-button {
    display: none;
}

#analyze-result-box {
    position: relative;
}

canvas {
    max-width: 100%;
    border: 1px solid gray;
}

/* light theme color */
th, td {
    border: solid 1px black;
}

th {
    background-color: black;
    color: white;
}

/* dark theme color */
body.vscode-dark th, body.vscode-dark td {
    border: solid 1px lightgray;
}

body.vscode-dark th {
    background-color: darkgray;
    color: black;
}

/* high contrast theme color */
body.vscode-high-contrast th, body.vscode-high-contrast td {
    border: solid 1px white;
}

body.vscode-high-contrast th {
    background-color: white;
    color: black;
}

body.vscode-high-contrast button {
    background-color: white;
    color: black;
}